---
// Component Imports
import Counter from "../components/Counter.svelte"
import Test from "../components/Test.svelte"
import "../styles/global.css"
import {Button} from "$lib/components/ui/button/index.js"

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
      body {
        padding: 2rem;
      }
    </style>
  </head>
  <body>
    <main>
      <Counter client:visible>
        <h1>Hello, Svelte!</h1>
        <Button client:load variant="outline">Button</Button>
        <!-- Note client:only='svelte' does remove the error here but shouldn't be needed as client:load works fine here in previous versions of astro -->
        <Test client:load />
      </Counter>
    </main>
  </body>
</html>
